@font-face {
    font-family: 'minecraft';
    src: url('../fonts/minecraft.ttf') format('truetype');
}

:root {
    --bg-secondary: #272E36;
    --bg-prime: #151C24;
    --text: #ffffff;
    --text-secondary: #b6b6b6;
    --highlight: #7023D3;
    --highlight-secondary: #200049;
    --bg-secondary: #00000007;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    background-color: var(--bg-prime);
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

h1, h2, h3, h4, h5{
    letter-spacing: 0.1em;
    font-family: "minecraft", sans-serif;
}

a, p {
    color: var(--text);
    font-family: sans-serif;
}
